<section class="info-container container-fluid">
    <div class="info-wrapper flex-column m-5 flex-md-row">
        <div class="info-text-wrap col d-flex flex-column justify-content-center">
            <h2 class="info-text-title">¡Estudia para tus proximos exámenes</h2>
            <div class="info-text-grid">
                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                        Elige entre todas las opciones que dispone nuestra página, absolutamente gratis.
                    </p>
                </div>

                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                        Practica en cualquier momento, en cualquier lugar.
                    </p>
                </div>

                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                        Si no encuentras ninguno que se acorde a tus necesidades, ¡prueba a crear el tuyo!
                    </p>
                </div>
            </div>
        </div>
        <div class="info-image-container">
            <img src="assets/info/info-img-1.png" class="info-image" alt="" >
        </div>
    </div>

    <div class="info-wrapper m-5 flex-column-reverse flex-md-row">
        <div class="info-image-container">
            <img src="assets/info/info-img-2.png" class="info-image" alt="" >
        </div>
        <div class="info-text-wrap col d-flex flex-column justify-content-center ">
            <h2 class="info-text-title">¡Realiza exámenes creados por tus amigos, profesores e incluso tu mismo!</h2>
            <div class="info-text-grid">
                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                        Una comunidad fuerte y unida, mejorando la dura experiencia de probar nuestos conocimientos.
                    </p>
                </div>

                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                       ¡Aprende nuevos conocimientos de materias que ni siquiera conocias!
                    </p>
                </div>

                <div class="info-text-flex">
                    <img [src]="checkUrl" class="info-text-check">
                    <p class="info-text-paragraph">
                        Realiza todos los exámenes cuantas veces necesites
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>