.card {
  background-color: #d8c29d;
  border: none;
}

input,
textarea {
  background-color: #f5e6ca;
}

button {
  margin-top: 10px;
}

input[type="file"]::file-selector-button {
  background-color: #556b3f;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #445732;
}