<header class="header-container">
  <div class="header-top ">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid mx-5 justify-content-between">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-currentWhenActive="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quizzes</a>
            </li>
            <li class="nav-item"  *ngIf="usuarioAutenticado">
              <a class="nav-link" routerLink="/dashboard">Crea tus exámenes</a>
            </li>
            <li class="nav-item" *ngIf="!usuarioAutenticado">
              <a class="nav-link" routerLink="/login">
                Crea tus exámenes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/quienes-somos">Quiénes Somos</a>
            </li>

          </ul>


          <div class="navbar-sesion d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>

              </li>
            </ul>
          </div>


        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid alert-dark bg-body-tertiary shadow-sm p-3 bg-body-tertiary rounded">
    <div class="header-bottom mx-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="p-2 w-sm-100">
        <app-logo></app-logo>
      </div>

      <div class="p-2 w-25 w-sm-100 ms-auto">
        <form class="d-flex w-sm-100 search-form" role="search" >
          <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search" />
        </form>
      </div>
    </div>
    <hr class="border mt-1 bg-dark border-2 opacity-50">
  </div>
</header>
