<main>
  <div class='hero-content p-5 text-center bg-image d-flex flex-column justify-content-center align-items-center'>
    <h1 class="display-5 d-flex fw-bold">¡Bienvenido a la página ideal para practicar tus examenes!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">El lugar que te ayuda a estudiar para aquel examen que te ha estado estresando. No sólo
        impulsamos tu educación, también tu entretenimiento es importante para nosotros. Descubre más de 100 quizz y
        exámenes.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a routerLink="/registro" class="btn btn-primary btn-lg px-4 gap-3">Regístrate Gratis</a>
        <button type="button" class="btn btn-secondary btn-lg px-4">Ponte en contacto con nosotros</button>
      </div>
    </div>
  </div>
</main>