.examen-info-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.examen-info-details {
    width: 100%;
    height: 100%;
    text-align: center;
}

.examen-info-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.examen-description {
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.examen-info-category-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    z-index: -1;
    border-radius: 0 0 20px 20px;
    opacity: 0.98;
}

.examen-info-description {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    align-self: center;

}

.examen-info-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #7f905d;
}

.examen-info-profesor-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.examen-info-user-name {
    font-size: 0.9rem;
}


@media (max-width: 768px) {
    .examen-info-description {
        font-size: 1rem;
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .examen-info-description {
        font-size: .7rem;
        max-width: 100%;
    }
}