/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e7cba2;
}


/* Configuraciones para el uso global */



/* Inputs */

.search-input {
  width: inherit;
  color: #fff;
  background-color: #6a784d;
  border: 2px solid #fff;
  outline: thick double #c4866d;
}

.search-input::placeholder {
  color: #fff;
}




/* Botones */
.btn-primary {
  background-color: #6a784d;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #7f905d;

}


.btn-secondary {
  background-color: #cfb893;
  color: #fff;
  border: 1px solid #202808;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #a79375;

}